body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #218838;
}

.upload-section {
    margin-top: 20px;
    padding: 20px;
    border: 1px dashed #ccc;
    background-color: #fff;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #007BFF;
    color: black;
    position: relative;
    bottom: 0;
    width: 100%;
}
